html 
    scroll-behavior: smooth

body
    margin: 40px 100px

a
    text-decoration: none
    color: #000

.nav
    display: flex
    justify-content: space-between

    .main-element
        font-weight: bold

    .directories
        a
            margin: 0 10px

.main-title
    text-align: center
    margin: 40vh 0

.main-image-background
    margin: 0 auto
    display: flex
    justify-content: center    
    width: 500px
    height: 100%
    background-color: #000
    max-height: 100%